# Important Requirements here.

https://github.com/New-dev0/Telethon/archive/platy.zip
aiofiles==22.1.0
aiohttp==3.9.3
aiohttp-retry==2.8.3
aiosignal==1.3.1
akinator==1.1.1
anyio==3.7.1
APScheduler==3.10.4
async-timeout==4.0.3
asyncio==3.4.3
asynclyrics-extractor @ git+https://github.com/New-dev0/AsyncLyricsExtractor.git@d66711558690ad53fb2b485f6c8ffa1bbd30a429
attrs==23.2.0
av==11.0.0
beautifulsoup4==4.12.3
Brotli==1.1.0
bs4==0.0.2
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dataclass-factory==2.16
deprecation==2.1.0
enhancer==0.3.4
exceptiongroup==1.2.0
fonttools==4.49.0
frozenlist==1.4.1
gitdb==4.0.11
GitPython==3.1.42
google-api-core==2.17.1
google-api-python-client==2.120.0
google-auth==2.28.1
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
gTTS==2.5.1
h11==0.14.0
heroku3==5.2.1
hiredis==2.3.2
htmlwebshot==0.1.2
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
idna==3.6
img2html @ git+https://github.com/buddhhu/img2html.git@c44170d5f4f702ea523ceb1f1d46e6dbcaea7305
iniconfig==2.0.0
instagrapi @ git+https://github.com/New-dev0/instagrapi.git@39df1b19b37fa7620c2710b75375527dbd47b99a
jikanpy==4.3.2
Jinja2==3.1.3
joblib==1.3.2
lottie==0.7.0
lxml==5.1.0
MarkupSafe==2.1.5
multidict==6.0.5
mutagen==1.47.0
nltk==3.8.1
ntgcalls==1.1.2
numpy==1.26.4
oauth2client==4.1.3
opencv-python-headless==4.9.0.80
packaging==23.2
phlogo==0.6
pillow==10.2.0
pluggy==1.4.0
pokedex.py==2.0.0
ProfanityDetector==0.2
protobuf==4.25.3
psutil==5.9.8
py-tgcalls==1.2.2
pyaes==1.6.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycryptodomex==3.9.9
pydantic==1.10.14
pydub==0.25.1
pyfiglet==1.0.2
Pygments==2.17.2
pyjokes==0.6.0
pyparsing==3.1.1
PyPDF2==3.0.1
pypng==0.20220715.0
Pyrogram==2.0.106
PySocks==1.7.1
pytest==7.4.4
pytest-asyncio==0.20.3
pytgcalls==3.0.0.dev24
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
pytz==2024.1
qrcode==7.4.2
quotefancy==1.0
redis==5.0.2
regex==2023.12.25
requests==2.31.0
rsa==4.9
screeninfo==0.8.1
shazamio==0.5.1
shazamio_core==1.0.7
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
SpeechRecognition==3.10.1
speedtest-cli==2.1.3
tabulate==0.9.0
telegraph==2.2.0
Telethon==1.25.1
textblob==0.18.0.post0
tgcalls==3.0.0.dev6
TgCrypto==1.2.5
tomli==2.0.1
tqdm==4.66.2
typing_extensions==4.10.0
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.1
websockets==12.0
wikipedia==1.4.0
yarl==1.9.4
youtube-search-python==1.6.6
yt-dlp==2023.12.30
