# Important Requirements here.

https://github.com/xditya/telegraph.git@41fd800ff1dd88595d1b57a48a88061a96cdbdba
https://github.com/New-dev0/Telethon/archive/platy.zip
git+https://github.com/buddhhu/img2html.git@c44170d5f4f702ea523ceb1f1d46e6dbcaea7305
importlib-metadata==4.6.4
incremental==21.3.0
https://github.com/New-dev0/instagrapi.git@39df1b19b37fa7620c2710b75375527dbd47b99a
aiohttp==3.8.5
aiosignal==1.3.1
akinator==1.1.1
annotated-types==0.5.0
anyio==3.7.1
APScheduler==3.10.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==21.2.0
Automat==20.2.0
av==8.1.0
Babel==2.8.0
bcrypt==3.2.0
beautifulsoup4==4.12.2
blinker==1.4
Brotli==1.1.0
bs4==0.0.1
cachetools==5.3.1
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==3.2.0
click==8.0.3
cloud-init==23.2.2
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
dacite==1.8.1
dbus-python==1.2.18
Deprecated==1.2.14
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.1
emoji==2.8.0
enhancer==0.3.4
exceptiongroup==1.1.3
fastapi==0.103.1
filelock==3.6.0
frozenlist==1.4.0
gitdb==4.0.10
GitPython==3.1.35
google-api-core==2.11.1
google-api-python-client==2.98.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.60.0
h11==0.14.0
heroku3==5.2.1
hiredis==2.2.3
htmlwebshot==0.1.2
httpcore==0.17.3
httplib2==0.20.2
httpx==0.24.1
hyperlink==21.0.0
idna==3.3
jaconv==0.3.4
jeepney==0.7.1
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lottie==0.7.0
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.0.1
mdurl==0.1.2
more-itertools==8.10.0
multidict==6.0.4
mutagen==1.47.0
netifaces==0.11.0
numpy==1.25.2
oauth2client==4.1.3
oauthlib==3.2.0
opencv-python-headless==4.5.5.62
pexpect==4.8.0
Pillow==10.0.0
platformdirs==3.10.0
ProfanityDetector==0.2
protobuf==4.24.3
psutil==5.9.5
psycopg2==2.9.2
ptyprocess==0.7.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycryptodomex==3.9.9
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.16.1
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pykakasi==2.2.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
PyPDF2==3.0.1
pypng==0.20220715.0
Pyrogram==2.0.106
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
pytgcalls==3.0.0.dev24
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
python-dotenv==1.0.0
python-magic==0.4.24
python-slugify==8.0.1
pytube==15.0.0
pytz==2022.1
PyYAML==5.4.1
qrcode==7.4.2
rapidfuzz==2.15.1
redis==5.0.0
requests==2.31.0
rich==13.5.2
rsa==4.9
SecretStorage==3.3.1
service-identity==18.1.0
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sos==4.5.6
soundcloud-v2==1.3.1
soupsieve==2.5
speedtest-cli==2.1.3
spotdl==4.2.1
spotipy==2.23.0
ssh-import-id==5.11
starlette==0.27.0
syncedlyrics==0.5.0
systemd-python==234
tabulate==0.9.0
text-unidecode==1.3
TgCrypto==1.2.5
Twisted==22.1.0
typing_extensions==4.7.1
tzlocal==5.0.1
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.5
uvicorn==0.23.2
virtualenv==20.13.0+ds
wadllib==1.3.6
websockets==11.0.3
wrapt==1.15.0
yarl==1.9.2
youtube-search-python==1.6.6
yt-dlp==2023.7.6
ytmusicapi==1.2.1
zipp==1.0.0
zope.interface==5.4.0
