# Important Requirements here.

https://github.com/New-dev0/Telethon/archive/platy.zip
git+https://github.com/New-dev0/AsyncLyricsExtractor.git
python-decouple
python-dotenv
pytgcalls==3.0.0.dev24
py-tgcalls==1.2.2
pillow==10.2.0
pyrogram==2.0.106
telegraph==2.2.0
fonttools
gtts
gingerit
jikanpy
phlogo
pokedex.py
pyfiglet
pygments
pyjokes
quotefancy
shazamio
speechrecognition
speedtest-cli
textblob
wikipedia
